<main class="home-page page-body"> 
 <%= render "shared/flash"%>
  <section class="jumbotron bg-white main">
    <h1>
      Inventory Management System
    </h1>

    <article class="main_para">
      <p>Manage your all inventory here very easily and perfectly! </p>
    </article>

    <%= image_tag("InventoryManagement.png", alt: "Inventory Management System") %>
    <% if !Current.user %>
      <div class="button-div sign-up-btn">
        <%= link_to "Sign Up now !", new_user_path, class: "btn btn-lg btn-primary big-btn" %>
      </div>
    <% end %>
  </section>
</main>