<% provide(:title, "Add Category") %>
<main class="page-body">
  <h2>Add New Category</h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
        <%= render "shared/flash"%>
        <%= render "form"%>
      
    </div>
  </div>
</main>