
<% provide(:title, "Categories")%>
<br/>
<main class="page-body">
  <%= render "shared/flash"%>
  <div class="card">
    <div class="card-header">
      <%= render @category %>
    </div>
    <% if current_user.admin %>
      <div class="card-body text-center">
        <%= link_to "Edit", edit_category_path(@category),class:"btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</main>